<nav>
    <ul class="pagination">
        <li class="page-item" [ngClass]="currentPage === 1 ? 'disabled' : ''">
            <a class="page-link" (click)="prevPage()">
                <span>&laquo;</span>
            </a>
        </li>
        <li 
            *ngFor="let page of paginationArray" 
            class="page-item" 
            [ngClass]="page === currentPage ? 'active': ''">
            <a class="page-link" (click)="gotoPage.emit(page)">{{ page }}</a>
        </li>
        <li class="page-item" [ngClass]="currentPage === totalPages ? 'disabled' : ''">
            <a class="page-link" (click)="nextPage()">
                <span>&raquo;</span>
            </a>
        </li>
    </ul>
</nav>