
<h6 class="text-center text-muted" *ngIf="country === 'tw'">- 第 {{currentPage}} 頁 -</h6>
<h6 class="text-center text-muted" *ngIf="country === 'us'">- page {{currentPage}} -</h6>

<div class="list-group">
    <a *ngFor="let article of articles" 
        class="list-group-item list-group-item-action text-truncate" 
        [href]="article.url"
        target="_blank"
    >
        {{ article.title | trimOutletName }}
    </a>
</div>
<div class="mt-3 d-flex justify-content-center">
    <app-paginator [currentPage]="currentPage" [totalPages]="totalPages" (gotoPage)="gotoPage($event)"></app-paginator>
</div>